<h1>Create a new event</h1>

<%= form_with model: @event, method: :post do |form| %>
   
   <div>
    <%= form.label :title, "Title" %><br>
    <%= form.text_field :title %>
   </div>

   <div>
    <%= form.label :event_date, "Event date" %><br>
    <%= form.date_field :event_date %>
   </div> 

   <div>
     <%= form.submit "Submit" %>
   </div>

<% end %>